## –î–æ–º–∞—à–Ω–µ–µ –∑–∞–¥–∞–Ω–∏–µ
–î–ª—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∑–∞–¥–∞—á Easy –∏ Normal –æ–ø—è—Ç—å –∏—Å–ø–æ–ª—å–∑—É–µ–º –¥–∞–Ω–Ω—ã–µ –¢–∏—Ç–∞–Ω–∏–∫–∞

### Easy
–í—ã—á–∏—Å–ª–∏—Ç—å –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏–≤–∞–Ω–∏—è, –µ—Å–ª–∏ –ø–∞—Å—Å–∞–∂–∏—Ä—É:

–æ—Ç 0 –¥–æ 25 –ª–µ—Ç

–æ—Ç 25 –¥–æ 50 –ª–µ—Ç

–æ—Ç 50 –ª–µ—Ç –∏ —Å—Ç–∞—Ä—à–µ

### Normal
–í—ã—á–∏—Å–ª–∏—Ç—å —Å –∫–∞–∫–æ–π –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å—é –ø–∞—Å—Å–∞–∂–∏—Ä –∂–µ–Ω—Å–∫–æ–≥–æ –ø–æ–ª–∞, –µ—Å–ª–∏ –∏–∑–≤–µ—Å—Ç–Ω–æ, —á—Ç–æ –æ–Ω –≤—ã–∂–∏–ª (–∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ç–µ–æ—Ä–µ–º—É –ë–∞–π–µ—Å–∞)

### Normal+
–ù–µ–æ–±—Ö–æ–¥–∏–º–æ —Ä–µ–∞–ª–∏–∑–æ–≤–∞—Ç—å –≥—Ä–∞–¥–∏–µ–Ω—Ç–Ω—ã–π —Å–ø—É—Å–∫ —Å —É–º–µ–Ω—å—à–µ–Ω–∏–µ–º  ùúñ  –¥–ª—è —Ñ—É–Ω–∫—Ü–∏–∏ –¥–≤—É—Ö –ø–µ—Ä–µ–º–µ–Ω–Ω—ã—Ö.

–ü—Ä–æ–≤–µ—Ä–∏—Ç—å –Ω–∞ —Ñ—É–Ω–∫—Ü–∏–∏  ùëì(ùë•,ùë¶)=(ùë•‚àí3)4+(ùë¶+5)2 . –ù–∞—á–∞—Ç—å –∏–∑ —Ç–æ—á–∫–∏ (5, 2).

–ü—Ä–æ–≤–µ—Ä–∏—Ç—å —Å–≤–æ–µ —Ä–µ—à–µ–Ω–∏–µ –Ω–∞ –≥–æ—Ç–æ–≤—ã—Ö —Ñ—É–Ω–∫—Ü–∏—è—Ö –º–∏–Ω–∏–º–∏–∑–∞—Ü–∏–∏.

### Hard
–ó–∞–∫–æ–Ω —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏—è –∑–∞–¥–∞–µ—Ç—Å—è —Ñ—É–Ω–∫—Ü–∏–µ–π –ø–ª–æ—Ç–Ω–æ—Å—Ç–∏

ùëì(ùë•)=ùúÜùëí‚àíùúÜùë•,ùë•>0 
ùëì(ùë•)=0,ùë•<=0 
–ù–∞–π—Ç–∏ –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Ç–æ–≥–æ, —á—Ç–æ —Å–æ–±—ã—Ç–∏–µ –ø—Ä–æ–∏–∑–æ–π–¥–µ—Ç –ø—Ä–∏  ùë•‚àà[1,2] 
P.S. –≤ scipy –µ—Å—Ç—å —Ñ—É–Ω–∫—Ü–∏—è –¥–ª—è –∏–Ω—Ç–µ–≥—Ä–∏—Ä–æ–≤–∞–Ω–∏—è —Ñ—É–Ω–∫—Ü–∏–∏

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('../data/train.csv', index_col=0)

In [4]:
df

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Easy

In [18]:
#–í—ã–∂–∏–≤—à–∏–µ –æ—Ç –æ—Ç 0 –¥–æ 25 –ª–µ—Ç
young_survived = df[(df['Survived'] == 1) & (df['Age'] < 25)].shape[0]
#print(young_survived)

#–í—ã–∂–∏–≤—à–∏–µ –æ—Ç 25 –¥–æ 50 –ª–µ—Ç
med_survived = df[(df['Survived'] == 1) & ((df['Age'] >= 25) & (df['Age'] < 50))].shape[0]
#print(med_survived)

#–í—ã–∂–∏–≤—à–∏–µ –æ—Ç 50 –ª–µ—Ç –∏ —Å—Ç–∞—Ä—à–µ
old_survived = df[(df['Survived'] == 1) & (df['Age'] >= 50)].shape[0]
#print(old_survived)

print(f"""
–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏—Ç—å –ª—é–¥–µ–π –≤ –≤–æ–∑—Ä–∞—Å—Ç–µ –æ—Ç 0 –¥–æ 25 –ª–µ—Ç {round(young_survived/891*100,2)}% \n
–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏—Ç—å –ª—é–¥–µ–π –≤ –≤–æ–∑—Ä–∞—Å—Ç–µ –æ—Ç 25 –¥–æ 50 –ª–µ—Ç {round(med_survived/891*100,2)}% \n
–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏—Ç—å –ª—é–¥–µ–π –≤ –≤–æ–∑—Ä–∞—Å—Ç–µ –æ—Ç 50 –ª–µ—Ç {round(old_survived/891*100,2)}% \n
""")

–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏—Ç—å –ª—é–¥–µ–π –≤ –≤–æ–∑—Ä–∞—Å—Ç–µ –æ—Ç 0 –¥–æ 25 –ª–µ—Ç 13.24%

–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏—Ç—å –ª—é–¥–µ–π –≤ –≤–æ–∑—Ä–∞—Å—Ç–µ –æ—Ç 25 –¥–æ 50 –ª–µ—Ç 16.27%

–í–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å –≤—ã–∂–∏—Ç—å –ª—é–¥–µ–π –≤ –≤–æ–∑—Ä–∞—Å—Ç–µ –æ—Ç 50 –ª–µ—Ç 3.03%

# Normal